@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px 0px;
    font-family: 'Passion One', 'Cursive';
}

header > h1 {
    font-variant: small-caps;
    font-size: 10vw;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding: 10vh 0vh;
    padding-left: 30px;
    line-height: 2em;
    font-size: 4vw;
}

section p {
    padding-bottom: 2em;
}

.img {
    background-color: rgb(43, 43, 43);
    color: white;
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.61);
    background-attachment: fixed;
}

.img > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.534);
    padding: 10px;
    text-shadow: 1px 1px 0px black;
}

#img01 {
    background-image: url(/desafios/d012/images/background001.jpg);
    background-position: center right;
    background-size: cover;
}

#img02 {
    background-image: url(/desafios/d012/images/background002.jpg);
    background-size: cover;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}