@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;
    padding: 30px;
    text-align: center;
    font-family: 'Passion One';
}

header p {
    font-family: 'Sriracha';
}

section p {
    font-family: "Sriracha";
    font-size: 1.5em;
    padding: 30px;
}

#background-1 {
    background-image: url(/desafios/d012/images/background001.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 100px 0px;
}

.alpha {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 0px 15px;
    color: white;
}

#background-2 {
    background-image: url(/desafios/d012/images/background002.jpg);
    background-size: cover;
    padding: 100px 0px;
}

a {
    color: white;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    font-family: "Sriracha";
}